.home .menu-list {
  width: 200px;
  height: 100%;
  position: fixed;
}
.home .menu-list .ant-menu {
  height: 100%;
}
.home .main-app {
  margin-left: 200px;
  padding-left: 10px;
  padding-top: 10px;
  transition: all 0.26s;
}
.home .main-app.menu-unfold {
  margin-left: 80px;
}
.home .main-app .main-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.home .main-app .main-header .ant-btn {
  margin-bottom: 0 !important;
}
.home .main-app .main-header .breadcrumb {
  height: 32px;
  display: inline-block;
  align-items: center;
  margin-left: 10px;
}
.home .main-app .main-header .user-info {
  float: right;
  margin-right: 10px;
  text-align: center;
}
.home .main-app .main-header .user-info li:not(:first-child) {
  display: none;
  cursor: pointer;
}
.home .main-app .main-header .user-info li:not(:first-child):hover {
  background-color: #999;
  font-weight: 700;
}
.home .main-app .main-header .user-info li {
  padding: 0 20px;
}
.home .main-app .main-header .user-info:hover li {
  display: block;
}
